#error-body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F7B05B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height:90vh;
}
#error-body h2 a{
    text-decoration: none;
    color:black;
    background-color: #F7CE5B;
    padding: 0.5rem;
    border-radius: 10px;
}
#error-body h3{
    padding: 10px;
    border: 2px solid #1F1300;
}